body {
    margin: 0;
    background: black;
    overflow: hidden;

}

.top-bar {
    display: flex;
    flex-direction: row;
    background: url("/static/img/writing_top_bar_back.png");
    border-bottom: 2px solid black;
    position: relative;
    width: 1000px;
    height: 40px;
    float: right;
    top: -946px;
    left: -100px;
    z-index: 2;
}

.top-bar * {
    margin: 5px 10px;


}

#draw {
    display: block;
    float: right;
    width: 1000px;
    height: 530px;
    position: relative;
    left: -50px;


}

.canvas {
    float: right;
    position: relative;
    top: 140px;
    width: 1000px;
    height: 530px;
    left: -50px;
    z-index: 2;

}

.sub-menu {
    position: relative;
    margin-left: 40px;
    z-index: 0;
    -moz-user-select: none;
}

#level1 {
    position: relative;
    top: -230px;
    left: 13px;

}

#level2 {
    position: relative;
    left: -296.5px;
    top: -170px;
}

#charecter-choose-box {
    position: relative;
    top: -320px;
    left: -580px;
}

/* The container */
.container {
    display: block;
    position: relative;
    top: -532px;
    left: 50px;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #F7B8B8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4.75px;
    left: 4.75px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: orange;
}

#draw-dot-line {
    position: relative;
    top: -825px;
    left: 550px;
}

#submit-btn {
    position: relative;
    top: -180px;
    left: 565px;
}