body{
    background: url('/static/img/main_back.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.features {

}


.features table{
    border-color: yellow;
    position: relative;
    left: -20px;
}

