body {
    background-color: black;

}

.card {
    position: relative;
    top: -900px;
    left: 1000px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#label {
    position: relative;
    left: 700px;
    top: 20px;
}

#shape-back{
    position: relative;
    top: 70px;
    left: 0px;
}

#sub-menu{
    position: relative;
    top: -40px;
    left: 10px;
}

#learn-shape-next-btn{
    position: relative;
    top: 280px;
    opacity: .7;
    left: 20px;
}

#learn-shape-next-btn:hover{
    opacity: 1;
}

#learn-shape-back-btn{
    position: relative;
    left: -1060px;
    top: 280px;
    opacity: .7;

}

#learn-shape-back-btn:hover{
    opacity: 1;
}

#shape-active-btn{
    position: relative;
    top: -470px;
    left: 70px;
}
#object-btn{
    position: relative;
    top: -512.5px;
    left: 180px;
    opacity: .8;
}

#object-btn:hover{
    opacity: 1;

}

.shape-level0{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#select-back{
    position: relative;
    top: -430px;
    left: 29px;
}

#learn-select-active{
    position: relative;
    top: -530px;
    left: 50px;
    opacity: .6;
}

#identify-select{
    position: relative;
    top: -520px;
    left: 50px;
    opacity: .8;

}

#learn-select-active:hover{
    opacity: 1;
    width: 150px;
}

#shape-level1{
    position: relative;
    top: -480px;
    left: 22px;
    opacity: .8;
}

#shape-level1:hover{
    opacity: 1;
    width: 320px;
    left: 14px;
}

/* The container */
.container {
    display: block;
    position: relative;
    top: -182px;
    left: 30px;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #F7B8B8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4.75px;
    left: 4.75px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: orange;
}
#submit-option{
    position: relative;
    top: 20px;
    left: 80px;
    color: darkgreen;
}