<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <meta charset="utf-8">
    <title>Haate Khori</title>
</head>

<body>
    <div class="menubar">
    <a href="{% url 'contact_us' %}">Contact Us</a>
    <a class="active" href="#">About</a>
    <a href="{% url 'my_profile' %}">My Profile</a>
    <a href="{% url 'know_you' %}">Know You</a>
    <a href="{% url 'surroundings' %}">Know Your Surroundings</a>
    <a href="{% url 'writing' %}">Learn To Write</a>
    <a href="{% url 'home' %}">Home</a>
</div>
<div class="banner">
    <h1><font color="white">Haate <font color="orange">Khori</font></h1>
    <img src="/static/img/kids.png" alt="HaateKhori" style="width:30%">
    <p>Haate Khori is a learning environment for children to facilitate them with the first lessons interactively and efficiently. The system will keep the parents updated with the progress of their children’s lessons.</font></p>
</div>

</body>

</html>