<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Haate Khori</title>
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
</head>
<body>
    <div class="menubar">
    <a class="active" href="#">Contact Us</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'my_profile' %}">My Profile</a>
    <a href="{% url 'know_you' %}">Know You</a>
    <a href="{% url 'surroundings' %}">Know Your Surroundings</a>
    <a href="{% url 'writing' %}">Learn To Write</a>
    <a href="{% url 'home' %}">Home</a>
</div>
</body>
</html>