<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/features.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <meta charset="UTF-8">
    <title>Haate Khori</title>
</head>

<body>
    <div class="menubar">
        <a href="#">Contact Us</a>
        <a href="{% url 'about' %}">About</a>
        <a class="active" href="#">Start Learning</a>
        <a href="{% url 'index' %}">Home</a>
    </div>
    <div class="writing">
        <a href="{% url 'writing'%}">Learn Writing</a>
        <font color="white"><h3>Hello from Sabbir</h3></font>
    </div>
</body>

</html>