<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <meta charset="utf-8">
    <title>Haate Khori</title>
</head>

<body>
    <div class="menubar">
        <a href="#">Contact Us</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'features' %}">Start Learning</a>
        <a class="active" href="#home">Home</a>
    </div>
    <div class="banner">
        <h1>Haate Khori</h1>
        <h3>Test</h3>
        <p>A Learning Environment For Children</p>
        <a href="{% url 'features' %}"><span>Start Learning →</span></a>
    </div>
</body>

</html>