<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <meta charset="utf-8">
        <title>HaateKhori</title>
    </head>
    <body>
        <div class="menubar">
            <a href="#">Contact Us</a>
            <a href="{% url 'about' %}">About</a>
            <a href="#">Let's Learn</a>
            <a class="active" href="#home">Home</a>
        </div>
        <div class="banner">
            <h1>Haate Khori</h1>
            <p>A Learning Environment For Children</p>
            <a href="#"><span>Let's Learn →</span></a>
        </div>
    </body>
</html>