<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Haate Khori</title>
    <link rel="stylesheet" href="{% static 'css/know_your_surroundings.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
</head>
<body>
<div class="menubar">
    <a href="{% url 'contact_us' %}">Contact Us</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'my_profile' %}">My Profile</a>
    <a href="{% url 'know_you' %}">Know You</a>
    <a class="active" href="#">Know Your Surroundings</a>
    <a href="{% url 'writing' %}">Learn To Write</a>
    <a href="{% url 'home' %}">Home</a>
</div>
<div class="main">
    <div id="shape-level0">
        <img src="/static/img/know_your_surroundings_shape_level0.png" width="70%">
    </div>
</div>
</body>
</html>