<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <meta charset="UTF-8">
    <title>Haate Khori</title>
</head>
<body>
    <div class="menubar">
    <a href="{% url 'contact_us' %}">Contact Us</a>
    <a href="{% url 'about' %}">About</a>
    <a class="active" href="#">My Profile</a>
    <a href="{% url 'know_you' %}">Know You</a>
    <a href="{% url 'surroundings' %}">Know Your Surroundings</a>
    <a href="{% url 'writing' %}">Learn To Write</a>
    <a href="{% url 'home' %}">Home</a>
</div>
</body>
<div class="main">
    <div id="shape-level0">
        <img id="sub-menu" src="/static/img/my_profile_sub.png" width="70%">

    </div>
    <img class="graph" src="/static/img/graph_know_surroundings.png" width="300" height="450" >
    <img class="graph" src="/static/img/learn_to_write_graph.png" width="300" height="450">
    <img class="graph" src="/static/img/know_you_graph.png" width="300" height="450">
</div>
</html>